<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find education_robotics)/simulation/models"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find education_robotics)/simulation/worlds/demo_only_robot.world"/>
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="true"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="robot_move_example" pkg="education_robotics" type="robot_move_example.py"  />

    <arg name="trajectory_target_frame_name" default="/robot/chassis"/>
    <arg name="trajectory_source_frame_name" default="/robot/map"/>
    <arg name="trajectory_update_rate" default="10"/>
    <arg name="trajectory_publish_rate" default="10"/>

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
        <param name="target_frame_name" type="string" value="$(arg trajectory_target_frame_name)" />
        <param name="source_frame_name" type="string" value="$(arg trajectory_source_frame_name)" />
        <param name="trajectory_update_rate" type="double" value="$(arg trajectory_update_rate)" />
        <param name="trajectory_publish_rate" type="double" value="$(arg trajectory_publish_rate)" />
    </node>

</launch>