<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find education_robotics)/simulation/models"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find education_robotics)/simulation/worlds/demo_only_robot.world"/>
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="true"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="basicFigures" pkg="education_robotics" type="1_basic_figures.py"  />

</launch>